#main{
    width: 100vw;
    height: 100vh;
    background-image: url('../Imagens/img principal.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#conteudo{
    width: 60vw;
    height: 70vh;
    background-color:rgba(255, 255, 255, 0.5);
    margin-top: 100px;
    margin-left:20vw ;
    position: absolute;
}

p{
    color:red
}