body {
    background-color: white;
}

#main {
    width: 100vw;
    height: 100vh;
    background-image: url('../Imagens/img principal.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#conteudo {
    width: 30vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 100px;
    margin-left: 35vw;
    position: absolute;
}

#conteudo p {
    font-size: 23px;
    color:red;
    text-shadow: 0.5px 0.5px black;
    
}

#bot {

    position: absolute !important;
    bottom: 0px;
    margin-bottom: 5px;
}

.bot {
    float: right !important;
    margin-right: 100px;

}
